
.products {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    	align-items: center;
    	font-family: Georgia, "Times New Roman", Times, serif;
    .card {
    	margin-top: 14px !important;
    	margin-bottom: 14px !important;
        width: 330px !important;
    .header {
        font-weight: 700;
         font-size: 1.28571429em;
         margin-top: -.21425em;
         line-height: 1.28571429em;
    }
   }
 }

  h1 {
    	display: block;
    	text-align: center;
    	padding: 0;
    	margin: 0px 0px 20px 0px;
    	color: #5C5C5C;
    	font-size:x-large;
  }